/* for development only - check layout */
header, div, main, nav, aside, footer {
  border: 1px solid aliceblue;
}


body {
  font-family: 'Arsenal', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-flow: row wrap;
  margin: auto;
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.artwork {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
}

main {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

footer {
  font-family: 'Arsenal', sans-serif;
  display: flex;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    flex-direction: column;
    flex: 1;
    }
    nav, aside {
      flex: 0 0 12em;
    }
  }
